<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ClientId" value="AdminUI"/>
  <add key="ClientSecret" value="5zJOr5uZlu3fcwrIDLbtSgZ8BcsTyJ0DtKnHpt3J1cjq4nBjxhe9dHRQ0mlf7sx"/>
  <add key="Scopes" value="JLT.Integration.Facades.MemberData.Limited"/>
  <add key="Username" value="UK\-svc-devopenservicea"/>
  <add key="Password" value="erupt&amp;SmUt45"/>
  <add key="RedirectUri" value="https://docprodui.uat.jltgroup.com/account/oAuth2"/>
  <add key="AuthorityUri" value="https://identity.service.uat.jltgroup.com"/>
</appSettings>